.role-container {
  .actions {
    i {
      padding-right: 7px;
      padding-top: 7px;
      font-size: 22px;
      cursor: pointer;
    }
    .add {
      color: green;
    }
    .delete {
      color: red;
    }
  }
}
