.modal-user {
  .content-body {
    .red {
      color: red;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
//hide arrow input number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}